/out/
/.idea/
/SectionFiveUDemyTutorialExercises/out/
/SectionFiveUDemyTutorialExercises/.idea/
/KilogramsConverter/.idea/
/KilogramsConverter/out/
/KilogramsConverter/KilogramsConverter.iml
/HelloWorld/.idea/
/HelloWorld/out/
/HelloWorld/HelloWorld.iml
/Blockbaster Movie Centre/.idea/
/Blockbaster Movie Centre/out/
/Blockbaster Movie Centre/Blockbaster Movie Centre.iml
/Advanced Java Tutorial/.idea/
/Advanced Java Tutorial/Advanced Java Tutorial.iml
/SpeedConverter/.idea/
/SpeedConverter/out/
/SpeedConverter/SectionFourUDemyTutorialExercises.iml
/SpeedConverter/SpeedConverter.iml
/ReadingUserInputChallenge/ReadingUserInputChallenge.iml
/*.iml
